.form {
    width: 95%;
    margin: 20px auto;
    padding: 20px;
    background-image: url('images/background_image.jpeg');
    border-radius: 8px;
    box-shadow: 2px 2px 4px #212d4c;
}

.form h2 {
    text-align: center;
    font-family: 'Amagro', sans-serif;
    font-size: 24px;
    color: #FFFDFA;
    margin-bottom: 20px;
}

.form form {
    display: flex;
    flex-direction: column;
}

/* Då det inte finns några <label> element i HTML, är denna stil onödig, men behålls om etiketter läggs till senare */
.form label {
    font-family: 'Amagro', sans-serif;
    color: #FFFDFA;
    margin: 10px 0 5px 0;
}

input[type="text"],
input[type="email"],
input[type="submit"] { /* Uppdaterat för att exkludera input[type="reset"] */
    width: 100%;
    padding: 12px;
    margin-bottom: 10px; /* Lägger till marginal för att separera fälten lite */
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] { /* Uppdaterat för att exkludera input[type="reset"] */
    background-color: #3F4D70;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover { /* Uppdaterat för att exkludera input[type="reset"] */
    background-color: #364262;
}

@media (max-width: 600px),
(pointer:none),
(pointer:coarse) {
    .form form {
        flex-direction: column;
    }
}
